<h1>Contact</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <br>
      <h3>Tricia Kaady</h3>
      <br>
      <p>P 555 555 5555</p>
      <p>tricia@email.com</p>
    </div>
    <div class="col-sm-6 bio-col">
      <%= image_tag "tricia.jpg", id: "tricia" %>
    </div>
  </div>
</div>
<hr>
<div class="row images">
  <a href='https://github.com/nrsantamaria' target="_blank"><%= image_tag 'github.png' %></a>
</div>
